:root{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Rubik', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply scroll-smooth;
    }
    body{
      font-family: 'Noto Sans JP', sans-serif;
    }
    
    .slider{
      height: 250px;
      margin: auto;
      position: relative;
      width: 100%;
      display: grid;
      place-items: center;
      overflow: hidden;
    }
    .slide_track{
      display: flex;
      width: 100%;
      animation: autoScroll 27s linear infinite;
    }
    /* .slide_track:hover {
      animation-play-state: paused;
    } */
    .slide{
      height: 250px;
      width: 250px;
      display: flex;
      align-items: center;
      padding: 15px;
    }
    .slide img {
      width: 100%;
    }
    .slider::before,
    .slider::after{
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      content: '';
      height: 100%;
      position: absolute;
      width: 15%;
      z-index: 200;
    }
    .slider::before{
      left: 0;
      top: 0;
    }
    .slider::after{
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
    @keyframes autoScroll {
      0% {
        transform: translateX(0);
      }
      100%{
        transform: translateX(calc(-250px * 16));
      }
    }
    .btn-wpp {
      position: fixed;
      width: 60px;
      height: 60px;
      line-height: 60px;
      bottom: 20px;
      right: 30px;
      background-color: #0df053;
      color: white;
      border-radius: 50px;
      text-align: center;
      font-size: 35px;
      box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
      z-index: 300;
    }
    .btn-wpp:hover {
        text-decoration: none;
        background-color: white;
        color: #0df053;
    }

    /* .prueba{
      height: auto;
      margin: auto;
      position: relative;
      width: 100%;
      display: grid;
      place-items: center;
      overflow: hidden;
    }
    .prueba::before,
    .prueba::after{
      background: radial-gradient(circle, rgba(10,69,125,1) 0%, rgba(255,255,255,0) 80%);
      content: '';
      height: 25%;
      position: absolute;
      width: 100%;
      z-index: -10;
    } */
}

@layer components{
  .textBorder {
    -webkit-text-stroke: 1px black;
  }
  .link {
    @apply hover:font-bold duration-75 h-min m-auto uppercase text-lg whitespace-nowrap;
  }
  .linkDrop {
    @apply whitespace-nowrap hover:font-bold duration-75 w-11/12 m-auto py-1 uppercase text-lg;
  }
}